<% provide(:title,"home") %>
<div class="center jumbotron">
<h1>WELLCOME TO RAILS</h1>
<h2>
<a href="https://github.com/kinema0109/test2/pulls">this is my home page for the rubys on rails tutorial simple application</a>
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
"https://rubyonrails.org/" %>
</div>


